.bg-page {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../components/images/background_landindpage.png');
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.link-voltar {
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
}

.tabela {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 66%;
    min-width: 600px;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    gap: 20px;
}

.tabela .btn {
    width: 100px;
    text-align: center;
}

.tabela table {
    min-width: 620px;
    padding: 0 30px;
    border-spacing: 10px; /* Adiciona espaçamento entre as células */
    display: flexbox;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.divider {
    border: 1px solid #ddd; /* Adiciona uma linha de borda inferior */
    position: absolute;
    width: 90%;
}


.tabela button {
    background-color: rgba(255, 0, 0, 0.6);
    margin: 0 10px;
}

.action {
    font-size: 10px;
}